@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>careersSample</title>

    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>



<style type="text/css">
    .container {
        max-width: 100%;
    }
    .col-sm-3
    {
        margin-top:1%;
        margin-bottom:1%;
        margin-left:2%;
        margin-right:2%;
    }
</style>
</head>
<body>
    <div class="container">
      <div class="row" style="margin-left:12%">

          @{ 
              var divVal = 1;
          }
          <a data-toggle="modal" data-target="#@divVal">
                <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
                </div>
           </a>
              <!-- Modal -->
                  <div class="modal fade" id="@divVal" role="dialog">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                          <p>This is a small modal.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
          @{
              divVal++;
           }         


          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }

          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }

          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }

          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }


          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }



          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }



          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }



          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }


          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }


          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }

          
          <a data-toggle="modal" data-target="#@divVal">
              <div class="col-sm-3" style="height:200px !important;border-style:groove">
                  One of three columns
              </div>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="@divVal" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                          <p>This is a small modal.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          @{
              divVal++;
          }

          
         

          

    </div>
</body>
</html>
